
<div class="">
    <div class="row my-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mx-2 mb-4">
                        Passed scans: <br>
                        <strong>{{ passCount | number }}</strong>
                    </div>
                    <div class="row mx-2 mb-4">
                        Failed scans: <br>
                        <strong>{{ failCount | number }}</strong>
                    </div>
                    <div class="row mx-2 mb-4">
                        Number scans: <br>
                        <strong>{{ scanCount | number }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
