
<div class="">
    <div class="row my-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <zxing-scanner style="height: 100%; width: 100%;"
                        [enable]="true"
                        (scanSuccess)="scanQRCode($event)"
                        (scanError)="handleScanError($event)" 
                        ></zxing-scanner>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
