
<!-- Sidebar main menu -->

<!-- Add overlay or fullmenu instead overlay , keep 'sidebar-[choice here]' -->
<!-- Sidebar main menu ends-->


<!-- Begin page -->
<main #mainPage>

    <!-- main page content -->
    <div class="main-container container">
        <div class="clearfix"></div>
        <router-outlet></router-outlet>
        <div class="clearfix"></div>
    </div>
    <!-- main page content ends -->

</main>
<!-- Page ends-->

 <!-- Footer -->
<app-staticfooter class="footer" #FooterEl></app-staticfooter>
 <!-- Footer Ends -->