
<div class="">
    <div class="row my-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <p>
                            Hey there, 
                        </p>
                        <p>
                            This is a custom QR code scanner for verification of invite pass for <strong class="text-primary">Chief Mrs Blessing Pondi </strong> special birthday ceremony.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <p>
                            <strong>Tap the big middle button to scan.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
